* {
  box-sizing: border-box;
}

html {
  font-size: .8vmax;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #1f2024;
  background-color: #1f2024;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader__inner {
  -webkit-animation: preload 3s linear infinite;
          animation: preload 3s linear infinite;
}

.preloader__title {
  font-size: 2.5rem;
  color: #1f2024;
}

.preloader__title + .preloader__title {
  margin-top: 1.25rem;
}

.preloader_loaded {
  display: none;
}

@-webkit-keyframes preload {
  from {
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}

@keyframes preload {
  from {
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}

.stage {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #fff;
}

.stage__img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: lighten;
}

.stage__video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  transform: rotate(180deg);
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes stageFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes stageFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu {
  height: 130px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  padding-left: 3.125rem;
}

.menu__title {
  font-size: 25px;
  text-transform: uppercase;
  margin: 3px 0 0 5px;
  z-index: 4;
}

.burger-menu {
  z-index: 4;
  cursor: pointer;
}

.burger-menu__line {
  width: 25px;
  height: 3px;
  background-color: #1f2024;
  margin: 5px;
  transition: all 0.3s ease;
}

.toggle .burger-menu__line-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .burger-menu__line-2 {
  opacity: 0;
}

.toggle .burger-menu__line-3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.burger-menu__line_theme-light {
  background-color: #fff;
}

.info {
  width: 100%;
  min-height: 100vh;
  padding: 200px 15px 100px 15px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #fff;
  color: #1f2024;
  display: none;
  transition: all 300ms;
}

.info_active {
  display: block;
}

.portfolio {
  max-width: 80%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 2px solid #8316ff;
  padding: 1.25rem;
}

.portfolio__img {
  width: 50%;
  /*  */
  border-left: 2px solid #8316ff;
  border-right: 2px solid #8316ff;
  /*-webkit-box-shadow: 0px 0px 24px -3px rgba(222,222,222,1);*/
  /*-moz-box-shadow: 0px 0px 24px -3px rgba(222,222,222,1);*/
  /*box-shadow: 0px 0px 24px -3px rgba(222,222,222,1);*/

  /*-webkit-box-shadow: 0px 0px 111px -14px rgba(237,237,237,1);*/
  /*-moz-box-shadow: 0px 0px 111px -14px rgba(237,237,237,1);*/
  /*box-shadow: 0px 0px 111px -14px rgba(237,237,237,1);*/
}

.portfolio:hover .portfolio-info__link {
  min-width: 100%;
}

.info__portfolio {
  margin: 0 auto;
}

.info__portfolio + .info__portfolio {
  margin: 6.25rem auto 0 auto;
}

.portfolio-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.9375rem;
}

.portfolio-info__title {
  font-size: 2.5rem;
  margin: 0;
}

.portfolio-info__descr {
  font-size: 1.5625rem;
  margin-top: 1.875rem;
}

.portfolio-info__list {
  list-style-position: inside;
  padding: 0;
  margin-top: 1.875rem;
}

.portfolio-info__list-item {
  font-size: 1.25rem;
  text-transform: uppercase;
  list-style: none;
}

.portfolio-info__list-item:first-child {
  font-size: 1.90rem;
}

.portfolio-info__list-item + .portfolio-info__list-item {
  margin-top: 0.625rem;
}

.portfolio-info__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  padding: 0.625rem 0.9375rem;
  background-color: #8316ff;
  color: #fff;
  cursor: pointer;
  margin-top: 1.875rem;
  transition: .3s ease;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer__title {
  font-size: 20px;
  font-weight: lighter;
  margin: 0 50px 0 0;
  color: #1f2024;
  z-index: 2;
  text-align: right;
}
